.hero {
  box-shadow: 3px 7px 22px 2px #0a0a0a;
  padding: 80px 70px;
  background-color: #304d9b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

@media (max-width: 767px) {
  .hero {
    max-width: 500px;
    padding: 30px 20px;
  }

  @media (max-width: 374px) {
    .hero {
      padding: 30px 15px;
    }
  }

  @media (min-width: 375px) and (max-width: 424px) {
    .hero {
      padding: 30px 15px;
    }
  }

  @media (min-width: 425px) {
  }

  @media (min-width: 600px) {
    .hero {
      max-width: 550px;
      padding: 40px 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    max-width: 700px;
    padding: 70px 50px;
  }
}
