.hero {
  box-shadow: 3px 7px 22px 2px #0a0a0a;
  padding: 80px 70px;
  background-color: #304d9b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

@media (min-width: 768px) and (max-width: 1000px) {
  .hero {
    max-width: 700px;
    padding: 70px 50px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .hero {
    max-width: 550px;
    padding: 40px 30px;
  }
}

@media (min-width: 401px) and (max-width: 599px) {
  .hero {
    max-width: 360px;
    padding: 30px 20px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .hero {
    max-width: 300px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
