*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --navbar-height: 65px;
}

body {
  margin: 0;
  font-family: "Lexend Variable", sans-serif;
  background-color: #304c9b;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
