.footer {
  color: #fafafa;
}

.footer__content {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 700px;
  justify-content: center;
  gap: 8px;
}

.footer__location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer__text,
.footer__copyright {
  font-size: 0.9rem;
}

@media (max-width: 599px) {
  .footer__content {
    flex-direction: column;
    gap: 4px;
    text-align: center;
  }
}
