.hero__wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-direction: row;
}

.hero__identity {
  flex-direction: column;
  align-items: center;
}

.hero__content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.hero__name {
  font-family: "Lexend Peta Variable", sans-serif;
  color: #fac7c7;
  font-size: 2.3rem;
  text-shadow: 2px 2px 5px #00000080;
  line-height: 0.45;
}

.hero__role {
  font-family: "Lexend Exa Variable", sans-serif;
  color: #fafafa;
  font-size: 1.73rem;
  letter-spacing: 0.1px;
  text-shadow: 2px 2px 5px #00000080;
  line-height: 1.6;
}

.hero__description {
  color: #fac7c7;
  font-weight: 300;
  line-height: 1.5;
  hyphens: auto;
}

.hero__image {
  border-radius: 50%;
  border: 3px solid #fac7c7;
  box-shadow:
    0 10px 15px #0404044d,
    0 0 0 1px #ffffff1a,
    inset 0 0 20px #ffffff0d;
  transition: all 0.3s ease;
  filter: brightness(90%);
}

.hero__image:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow:
    0 10px 30px #fac7c766,
    0 0 0 2px #ffffff26,
    inset 0 0 25px #ffffff1a;
}

@media (max-width: 399px) {
  .hero__wrapper {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
  }

  .hero__content {
    gap: 20px;
  }

  .hero__name {
    font-size: 1.78rem;
  }

  .hero__role {
    font-size: 1.35rem;
    white-space: nowrap;
  }

  .hero__description {
    font-size: 1rem;
    line-height: 1.4;
    text-align: start;
  }

  .hero__image {
    width: 160px;
    height: 160px;
    filter: brightness(90%);
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .hero__wrapper {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .hero__content {
    margin-top: 30px;
  }

  .hero__name {
    font-size: 2.1rem;
  }

  .hero__role {
    font-size: 1.58rem;
  }

  .hero__description {
    font-size: 1.05rem;
  }

  .hero__image {
    width: 180px;
    height: 180px;
    filter: brightness(90%);
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .hero__wrapper {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .hero__content {
    margin-top: 30px;
  }

  .hero__image {
    width: 200px;
    height: 200px;
    filter: brightness(90%);
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .hero__wrapper {
    gap: 40px;
    flex-direction: row;
  }

  .hero__content {
    max-width: 320px;
  }

  .hero__name {
    font-size: 2.1rem;
  }

  .hero__role {
    font-size: 1.57rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__image {
    width: 230px;
    height: 230px;
    filter: brightness(90%);
  }
}
