.portfolio-link-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .portfolio-link-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 400px) {
  .portfolio-link-list {
    grid-template-columns: 1fr;
  }
}
