.links-list__link {
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

.links-list__item {
  border: 2px solid #fac7c7;
  border-radius: 20px;
  background-color: #304c9b;
  box-shadow:
    #00000008 0px -23px 25px 0px inset,
    #00000026 0px -36px 30px 0px inset,
    #00000017 0px 8px 4px,
    #00000017 0px 16px 8px,
    #00000017 0px 32px 16px;

  &:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow:
      #00000008 0px -23px 25px 0px inset,
      #00000026 0px -36px 30px 0px inset,
      #ffffff17 0px 8px 12px,
      #ffffff17 0px 0px 8px,
      #ffffff17 0px 18px 16px;
  }

  &:active {
    transform: scale(1);
    box-shadow:
      #00000008 0px -23px 25px 0px inset,
      #00000026 0px -36px 30px 0px inset,
      #00000017 0px 8px 4px,
      #00000017 0px 16px 8px,
      #00000017 0px 32px 16px;
  }
}

.links-list {
  margin-top: 50px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 350px;
}

@media (min-width: 768px) {
  .links-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
  }

  .links-list__link {
    padding: 5px 15px;
  }
}

@media (max-width: 350px) {
  .links-list {
    grid-template-columns: 1fr;
    max-width: 250px;
    margin-top: 25px;
  }
}
