.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100dvh;
}

@media (max-width: 767px) {
  .layout {
    align-items: self-start;
  }
}
